.center{
    text-align: center;
}
.body-c{
    width: 1180;
    height: 530px;
    margin: 0px 160px 0 170px;
    /*background-color: red;*/
}
.body-cc{
    z-index: 1;
    height: 499px;
    width: 790px;
/*    background-color: blue;*/
    float: left;
    display: inline;
    overflow: hidden;

}
.scrollbar{
    width: 790px;
    height:340px;
  /*  background-color: blue;*/
    margin-bottom: 10px;

}
/*封装清除的类*/
.clearfix::after{
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    position: absolute;
}
/*end*/
.wrap{ position:relative;z-index: 2}
/*导航列表*/
.nav-list{ background-color:#6E6568; width:180px;height: 465px;  padding: 16px 5px 0px 0px; overflow: hidden; margin-right: 10px;float: left;display: inline;}
.nav-list ul{padding-left:0px; width:210px;}
.nav-list ul li{ list-style: none; line-height: 25px; cursor: pointer; padding-left:20px; }
.nav-list ul li:hover{ background-color:#f7f7f7; }
.nav-list ul li:hover>a{ color:#cc0000; }
.nav-list ul li a{ color:#fff; text-decoration: none;}
.nav-list ul li:hover>.nav-cont{ display: block;}
/*内容区*/
.nav-cont{ width:995px; height: 465px; background:#f7f7f7; float: left; position:absolute; left:187px; top:0px; display: none;
    box-shadow: 0px 0px 2px 2px #CBCBCB;}
.cont-href{ width:700px; float: left;}
.nav-cont .cont-href a{ text-decoration:none; color:#666;}
.cont-href dt,.cont-href dd{float: left; }
.cont-href dt{ margin-left:20px; }
.cont-href dt i{ font-style: normal; color:#666; margin-left:10px;}
.cont-href dd a{ padding:0px 10px; border-left:1px solid #e0e0e0}

/*内容区的图片*/
.cont-icon{ width:auto; float: right;}
.cont-icon img{margin-right: 30px; margin-top:20px;}

.body-cr{
    float: left;
    width: 194px;
    height: 480px;
    background-color: #ffffff;
    margin-left: 10px;

    color: #666666;
    }
.body-ctt{
    overflow: hidden;
    width: 174px;
    height: 140px;
    padding: 10px;
}
.body-crc{
    overflow: hidden;
    width: 194px;
    height: 155px;
    background: #E8F8F8;
    text-align: center;
}
ul{
    margin:0px;
    padding:0px;
    list-style:none;
}
#andyscroll {
    overflow: hidden;
    background: #E8F8F8;
    text-align: center;
    width:194px;
    height:145px;
    overflow:hidden;
}
#andyscroll a {
    font:12px/18px tahoma;
    color: #000;
    float:left;
    width:100%;
    text-decoration: none;
    display:block;
}
#andyscroll a:hover {
    font:12px/18px tahoma;
    color: #F60;
}

.body-crb{
    overflow: hidden;
    width: 194px;
    height: 165px;
    background-color: #f7f7f7;
}
