
body{
corlor:#FFF;

font-size:16px;
text-align:center;
  } 

#alt{
margin:0 auto;
width:980px;
 height:340px;
background-color:#D9D9F3 ;
}


#navi{  
             height:20px;     
	margin:0 auto; 
	padding:6px;
	width:968px;                          
	border-top-left-radius:8px;            
	border-top-right-radius:8px;
	background-color:#71154b;
}
#navi a{                                      
	font-size:18px;
	text-decoration:none;          
	padding:6px 12px;
	border-left:#cd335f 1px solid;    
	border-right:#59041c 1px solid;	   
}
#navi a:link,#navi a:visited{	
	color:#c1deb9;   
}
#navi a:hover{	              
	color:white;			 	
	background-color:#f26c4f;
	font-size:16px;
}




#nava
{ 
height:auto;
width:180px;

}
#nava ul
{
list-style-type:none;
margin:0px;
padding:0px;

}
#nava li
{ 
border-bottom:1px solid #ed9fcc;
}
#nava li a
{
display:block;
padding:5px 5px 5px 0.5em;
text-decoration:none;
border-left: #71154b solid 12px;
border-right: #71154b solid 1px;
}

 #headet
{ 
height:auto;
margin:4px;
box-shadow:  0 0  5px 5px #70DB93;
}
#left
{
 float:left;
width:190px;
height:600px;
border-left: #856363 solid 2px;
border-bottom:#856363 solid 2px;
border-top:#856363 solid 2px;
border-right: #856363 solid 2px;
} 
#right{ 
float:right;
width:782px;
height:600px;
border-right: #856363 solid 2px;
border-bottom:#856363 solid 2px;
border-top:#856363 solid 2px;

} 
#foot{
text-align:center;
height:632px;
border-left: #856363 solid 2px;
border-right: #856363 solid 2px;
border-bottom:#856363 solid 2px;
border-top:#856363 solid 2px;

}