footer{
    width: 100%;
    height: 100px;
    background-color: #EAEAEA;

    text-align: center;
    font-size: 14px;

}
b>a{
    color: #666666;
    font-size: 18px;
}
b>a:hover{
    color: #ff0000;
}