body, p, form, input, button, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6,nav {
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    background-color: #f7f7f7;
}
div{
    display: block;
}
tr,td{
    display: inline-flex;
}
input{outline:none}
a{
    text-decoration: none;
}
span>a{
    
}
span>a:hover{
    color:red;
}
span>input:focus{
    border:2px solid red;
}
 header{
     width: 100%;
     height: 170px;
     overflow: hidden;
     background-color: red;
    display: inline;
 }

 .top{
     height: 35px;
     width: 100%;
     background-color: #4876FF;
     padding-top: 5px ;
     font: 18px/1.5 tahoma,arial,"\5b8b\4f53";
     font-family: "Microsoft YaHei",tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
     color:red;
    overflow: hidden;
}
.top-l{
    height: 28px;
    width: 400px ;
    float: left;
    margin-left: 125px;
    overflow: hidden;
}
 .top-r{
     height: 28px;
     width: 300px ;
     float: right;
     padding-right: 100px;
    overflow: hidden;
 }
.logo{
    width: 180px;
    height: 170px;
    float: left;
    margin-left: 170px;
}
.search-m{
    width: 100%;
    height: 50px;
 /*   background-color: yellow;*/
    padding-top: 40px;
}
.search-c{
    width: 530px;
    height: 45px;
 /*  background-color: blue;*/
    margin-left:500px;
}
#title{
	border:2px solid gray ;
    width: 390px ;
    height: 30px;
    font-size: 15px;
    padding: 5px;
    margin-left:30px;
}
#search-b{
    height:33px;
    width: 69px ;
    font-size: 18px;
    background-color: red;
    color: white;
    margin-top: 5px;
    /* float: right; */
}
.shopping{
    border:2px solid gray ;
    width: 88px;
    height: 25px;
   background-color: white;
    overflow: hidden;
    text-align: center;
    padding: 7px;
}
nav{
    width: 755px;
    height: 40px;
/*    background-color: red;*/
    margin-bottom: 0px;
    margin-left: 400px;
    margin-top: 40px;
    text-align: center;
    font-size: 16px;
    line-height: 40px;
    color: #555;
    font-weight: 700;
    align:center;
}
.clear{
    clear: both;
}
nav>a:hover{
    color: #ff0000;
}
